section.projects-container h1 {
    background: linear-gradient(90deg, var(--primary-100), var(--secondary-700));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

section.projects-container .main-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

section.projects-container .main-container .projects-grid .project-card {
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    height: 100%;
}

section.projects-container .main-container .projects-grid .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(9, 42, 42, 0.15);
    border: 1px solid rgba(34, 255, 255, 0.15);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    justify-content: space-between;
    height: 100%;
    min-height: 450px;
    padding: 0 1.5em;
}

section.projects-container .main-container .projects-grid .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

section.projects-container .main-container .projects-grid .project-card img {
    width: 100%;
    width: calc(100% + 3em);
    height: 200px;
    object-fit: cover;
    margin: 0 -1.5em;
    margin-bottom: 1em;
    padding: 0;
    border-radius: 10px;
    border: 1px solid rgba(34, 255, 255, 0.15);
}

section.projects-container .main-container .projects-grid .project-card h2 {
    color: var(--text-light);
    font-size: 1.5em;
    margin: 1.5em 0;
    margin-bottom: 0.5em;
    text-align: center;
}

section.projects-container .main-container .projects-grid .project-card p {
    color: var(--text-light);
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1em;
    flex: 1;
}

section.projects-container .main-container .projects-grid .project-card .github-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.75em 1.5em;
    background-color: var(--primary-200);
    color: var(--text-light);
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 1em;
    transition: all 0.3s ease;
}



section.projects-container .main-container .projects-grid .project-card .github-link:hover, .github-link:focus {
    background-color: transparent;
    color: var(--primary-900);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(44, 83, 255, 0.3);
    cursor: pointer;
}

section.projects-container .main-container  .load-more-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: 0.5s;
}

section.projects-container .main-container  .load-more-btn {
    margin: 2em auto;
    padding: 1em 2.5em;
    background: linear-gradient(135deg var(--primary-100) 0%, var(--secondary-700) 100%);
    color: var(--text-light);
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(13, 255, 255, 0.2);
}



section.projects-container .main-container  .load-more-btn {
    display: block;
    margin: 3em auto;
    padding: 1em 2.5em;
    background: linear-gradient(135deg, var(--primary-100) 0%, var(--primary-500) 100%);
    color: var(--text-light);
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(13, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
}

section.projects-container .main-container  .load-more-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(13, 255, 255, 0.5);
    letter-spacing: 0.5px;
}

section.projects-container .main-container .load-more-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(13, 255, 255, 0.4);
}

/*Esconder Cards*/
.hidden-cards {
    display: none;
}
