header.nav::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, var(--primary-100), var(--secondary-900), var(--tertiary-900));
}

header.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -50;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}

header.nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

header.nav .nav-container .logo {
    font-size: 1.1rem;
    position: relative;
}

header.nav .nav-container .logo::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -4px;
    width: 8px;
    height: 8px;
    background: var(--primary-400);
    border-radius: 50%;
    animation: pulse 3s infinite;
}

header.nav .nav-container .logo span {
    color: var(--primary-300);
}

header.nav .links ul, li  {
    display: flex;
    text-decoration: none;
}

header.nav .links a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 1rem;
    color: #000;
    position: relative;
}

header.nav .links a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--primary-100), var(--secondary-900));
    transition: width 0.3s ease;
}

header.nav .links a:hover::before {
    width: 100%;
}