section.contact-container .main-container .title {
    text-align: center;
    color: var(--primary-400);
    font-size: 2.2em;
    margin-bottom: 1em;
}

section.contact-container .main-container .description {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2em;
    color: var(--text-light);
}

section.contact-container .main-container .social-links {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

section.contact-container .main-container .social-links a {
    color: var(--primary-400);
    font-size: 2em;
    transition: all 0.3s ease;
    position: relative;
}

section.contact-container .main-container .social-links a:hover {
    transform: translateY(-5px);
    color: var(--text-light);
}

section.contact-container .main-container .social-links a::after {
    content: attr(title);
    /*mostra o titulo do link*/
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.4em;
    opacity: 0;
    transition: all 0.3s ease;
}

section.contact-container .main-container .social-links a:hover::after {
    opacity: 1;
    bottom: -30px;
}